
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 100px auto;
  flex-wrap: wrap;
}

.product{
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 300px;
}